body{
    background-color: blueviolet;
    display:flex;
    justify-items: center;
    justify-content: space-around;
   
}
h1{
    display: flex;
    justify-content: center;
}
.instruciones{
    padding: 10px;
    width: 500px;
    height: 500px;
    background-color: aqua;
}
canvas {
    border-color: black;
    border-style: double;
    background-color: gray;
}